# VacationPy
----

### **Part 2: VacationPy**

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import random as random
from citipy import citipy

# Import API key
from api_keys import weather_api_key, g_key
import collections
collections.Iterable = collections.abc.Iterable

gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [78]:
vac_cities_df = pd.read_csv('output_data/cities.csv')

vac_cities_df.set_index('City')

,Unnamed: 0,Country,Latitude,Longitude,Temperature,Max Temperature,Min Temperature,Humidity,Cloudiness,Wind Speed
City,,,,,,,,,,
Hilo,0,US,19.7297,-155.0900,28.37,28.85,26.45,70,0,5.14
Bengkulu,1,ID,-3.8004,102.2655,23.93,23.93,23.93,89,100,1.71
Ulladulla,2,AU,-35.3500,150.4667,23.33,23.33,23.33,62,45,1.11
Lebu,3,CL,-37.6167,-73.6500,10.86,10.86,10.86,93,100,0.12
Port Hedland,4,AU,-20.3167,118.5667,29.03,29.03,29.03,30,0,6.69
Atuona,5,PF,-9.8000,-139.0333,24.82,24.82,24.82,72,0,7.60
Beringovskiy,6,RU,63.0500,179.3167,-1.45,-1.45,-1.45,79,100,1.74
Bambous Virieux,7,MU,-20.3428,57.7575,20.14,21.23,20.14,83,75,2.57
Walajapet,8,IN,12.9333,79.3833,20.02,20.02,20.02,63,7,2.32
Tanete,9,ID,-3.9443,119.7848,29.82,29.82,29.82,72,98,0.58
Lingao,10,CN,19.9103,109.6859,24.67,24.67,24.67,78,87,8.70
Hithadhoo,11,MV,-0.6000,73.0833,27.95,27.95,27.95,73,12,3.29
Ferreira do Alentejo,12,PT,38.0500,-8.0333,17.08,17.08,17.08,84,100,3.22

### Humidity and Hotel Heatmap

In [80]:
vac_cities_df['name'] = ""
vac_cities_df['address'] = ""
vac_cities_df['price_level'] = ""
vac_cities_df['rating'] = ""

vac_cities_df.head()

,Unnamed: 0,City,Country,Latitude,Longitude,Temperature,Max Temperature,Min Temperature,Humidity,Cloudiness,Wind Speed,name,address,price_level,rating
0,0,Hilo,US,19.7297,-155.0900,28.37,28.85,26.45,70,0,5.14,,,,
1,1,Bengkulu,ID,-3.8004,102.2655,23.93,23.93,23.93,89,100,1.71,,,,
2,2,Ulladulla,AU,-35.3500,150.4667,23.33,23.33,23.33,62,45,1.11,,,,
3,3,Lebu,CL,-37.6167,-73.6500,10.86,10.86,10.86,93,100,0.12,,,,
4,4,Port Hedland,AU,-20.3167,118.5667,29.03,29.03,29.03,30,0,6.69,,,,

In [81]:
# find the closest restaurant of each type to coordinates

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "rankby": "distance",
    "type": "hotel",
    "key": g_key,
}
# use iterrows to iterate through pandas dataframe
for index, row in vac_cities_df.iterrows():
    location = f'{row["Latitude"]},{row["Longitude"]}'
    city = row['City']
    # add keyword to params dict
    params['location'] = location
    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        print(f"Closest hotel is {results[0]['name']}.")
        
        vac_cities_df.loc[index, 'name'] = results[0]['name']
        vac_cities_df.loc[index, 'address'] = results[0]['vicinity']
        vac_cities_df.loc[index, 'price_level'] = results[0]['price_level']
        vac_cities_df.loc[index, 'rating'] = results[0]['rating']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 0: Hilo.
Closest hotel is KomatosE ActioN Sports Apparel.
Missing field/result... skipping.
------------
Retrieving Results for Index 1: Bengkulu.
Closest hotel is Masjid Muhammadiyah Nurul Iman.
Missing field/result... skipping.
------------
Retrieving Results for Index 2: Ulladulla.
Closest hotel is Hair By Melly T.
Missing field/result... skipping.
------------
Retrieving Results for Index 3: Lebu.
Closest hotel is Iglesia Misión Evangélica Nacional, Lebu.
Missing field/result... skipping.
------------
Retrieving Results for Index 4: Port Hedland.
Closest hotel is Utah Point Berth.
Missing field/result... skipping.
------------
Retrieving Results for Index 5: Atuona.
Closest hotel is Pension Temetiu Village.
Missing field/result... skipping.
------------
Retrieving Results for Index 6: Beringovskiy.
Closest hotel is Mup Zhkkh "Yugo-Vostochnyy".
Missing field/result... skipping.
------------
Retrieving Results for Index 7: Bambous Virieux.
Closest hotel is Football Ground.
Missing field/result... skipping.
------------
Retrieving Results for Index 8: Walajapet.
Closest hotel is Rural Library.
Missing field/result... skipping.
------------
Retrieving Results for Index 9: Tanete.
Closest hotel is Pompanisasi Mk.group77.
Missing field/result... skipping.
------------
Retrieving Results for Index 10: Lingao.
Closest hotel is 乐而康娱乐城.
Missing field/result... skipping.
------------
Retrieving Results for Index 11: Hithadhoo.
Closest hotel is "KOSHIDHORAGE" Addu History and culture House.
Missing field/result... skipping.
------------
Retrieving Results for Index 12: Ferreira do Alentejo.
Closest hotel is Palminha, Irmãos.
Missing field/result... skipping.
------------

In [84]:

vac_cities_complete = vac_cities_df.dropna()

vac_cities_complete = vac_cities_complete.loc[vac_cities_complete['Min Temperature']>10]

humidity = vac_cities_complete["Humidity"].astype(float)

In [85]:
figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dd>The recommended hotel in {City}, {Country} is {name}.</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in vac_cities_complete.iterrows()]
locations = vac_cities_complete[["Latitude", "Longitude"]]


# Assign the marker layer to a variable
markers = gmaps.marker_layer(locations)
# Add the layer to the map


heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 8)

hotel_layer = gmaps.symbol_layer(
    locations, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=2,
    info_box_content=hotel_info
)

fig = gmaps.figure()
fig.add_layer(markers)
fig.add_layer(heat_layer)
fig.add_layer(hotel_layer)

fig

Figure(layout=FigureLayout(height='420px'))